.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/
data/openi/
outputs/
outputs_quick/
outputs_openi_text/
mlruns/
mlruns_quick/
mlruns_openi_text/
.pip-tmp/

*.pt
*.pth
*.ckpt
*.png
*.jpg
*.jpeg

# img_report should not be ignored as it contains the report images
!img_report/
!img_report/**/*.png
!img_report/**/*.jpg
!img_report/**/*.jpeg
