.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/
data/openi/
outputs/
outputs_quick/
outputs_openi_text/
mlruns/
mlruns_quick/
mlruns_openi_text/
.pip-tmp/

*.pt
*.pth
*.ckpt
*.png
*.jpg
*.jpeg
